body {
    text-align: center;
    margin: 0px;
    font-family: "Montserrat";
}

.about {
    background-color: yellow;
    padding: 0px;
}

.projects {
    height: 1450px;
    background-color: white; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, rgba(255, 99, 71, 1), rgba(255, 99, 71, 0.2));
    padding: 10px;
}
