body {
    text-align: center;
    margin: 0px;
    font-family: "Montserrat";
}

.about {
    background-color: yellow;
    padding: 0px;
}

.projects {
    background-color: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
    padding: 10px;
}
